*, *:before, *:after {
  box-sizing: border-box;
}

body {
   background-color: #FDCE7C;
   padding: 0;
   margin: 0;
   font-family: 'Nunito', sans-serif;
   color: #ffffff;
   line-height: 1em;
}

p {
  margin: 0;
}

h1 {
  display: none;
}

h2 {
  font-family: 'Dancing Script', cursive;
  color: #ffffff;
  font-size: 3em;
  margin-bottom: 10px;
}

.left {
    background: url('../image.jpg');
    background-size: cover;
    background-position: bottom;
}

.right {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: auto;

  font-family: 'Nunito', sans-serif;
  color: #ffffff;
  font-size: 1em;
}

.container {
    background: #FDCE7C;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    text-align: center;
    min-height: 100vh;
}
